<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../">Holidays</a></li>
    <li class="breadcrumb-item active" aria-current="page">New request</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Holiday request</h6>

        <form class="forms-sample" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3" *ngIf="activeUser.user_role !== 'teacher'">
            <label class="form-label">Teacher</label>
            <ng-select [items]="teachers" bindValue="id" [searchFn]="customSearchFn" formControlName="teacher_id">
              <ng-template ng-option-tmp ng-label-tmp let-item="item">
                {{ getUser(item) }}
              </ng-template>
            </ng-select>
          </div>
          <div class="mb-3">
            <label class="form-label">From</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" formControlName="start_date" ngbDatepicker #start_date="ngbDatepicker">
              <button class="input-group-text" type="button" (click)="start_date.toggle()">
                <i class="feather icon-calendar icon-md text-muted"></i>
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">To</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" formControlName="end_date" ngbDatepicker #end_date="ngbDatepicker">
              <button class="input-group-text" type="button" (click)="end_date.toggle()">
                <i class="feather icon-calendar icon-md text-muted"></i>
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Notes</label>
            <textarea class="form-control" id="notes" formControlName="notes" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <div class="btn btn-secondary me-2" routerLink="../">Cancel</div>
        </form>
        <p class="text-danger mt-1" *ngFor="let err of error">{{ err }}</p>
      </div>
    </div>
  </div>
</div>
